body {
  background-color: black;
}
.message {
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: white;
}


h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

button {
  font-size: 50px;
  height: auto;
  width: auto;
  background-color: aqua;
  
}

/* .catagories {
    height: 60px;
    font-size: 40px;
    display: flexbox;
    justify-content: center;
    align-items: center;
  } */
  
.mysteryWord {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}

.letter {
  padding: 30px;
  margin: 10px;
  width: 50px;
  height: 75px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
  border-bottom: yellow 5px solid;
}

.keyboard {
  margin-top: 60px;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: center
}

.key {
  padding: 30px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  background-color: #000000;
  border-radius: 4px;
  border: 2px solid rgb(160, 191, 215);
  cursor: grab;
}

.correct {
  color: black;
  background-color: green;
  border: 2px solid green;
}


.wrong {
  color: black;
  background-color: red;
  border: 2px solid red;
}