body {
  background-color: black;
}

h1 {
  font-size: 75px;
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.message1 {
  font-size: 60px;
  color: #ffffff;
  flex-direction: row;
  text-align: center;
  font-family: "Futura", sans-serif;
  margin: auto 200px;
}

.message2 {
  font-size: 60px;
  color: red;
  flex-direction: row;
  text-align: center;
  font-family: "Futura", sans-serif;
  margin: auto 200px;
}

.instructions {
  font-size: 30px;
  color: #ffffff;
  flex-direction: row;
  text-align: center;
  font-family: "Futura", sans-serif;
  margin: auto 200px auto 200px;
}

.instructions span {
  color: red;
}


button {
  margin: 40px auto;
  display: flex;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  background-color: aqua;
}

.mysteryWordReveal {
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  padding: 30px;
  margin: 10px;
  width: 50px;
  height: 75px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  background-color: #000000;
}

.keyboard {
  margin-top: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.key {
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
  border: 2px solid rgb(160, 191, 215);
  cursor: grab;
}

.correct {
  color: black;
  border: 2px solid black;
}

.wrong {
  color: black;
  background-color: red;
  border: 2px solid red;
}
