body {
  background-color: black;
}


.message {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
/* }
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; */
}

button {
  margin-top: 25px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  height: auto;
  width: 125px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;  
  
}

/* .catagories {
    height: 60px;
    font-size: 40px;
    display: flexbox;
    justify-content: center;
    align-items: center;
  } */
  
.mysteryWord {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}

.letter {
  padding: 30px;
  margin: 10px;
  width: 50px;
  height: 75px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  background-color: #000000;
 
}

.keyboard {
  margin-top: 30px;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: center
}

.key {
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  background-color: #000000;
  border-radius: 4px;
  border: 2px solid rgb(160, 191, 215);
  cursor: grab;
}

.correct {
  color: black;
  /* background-color: green;
  border: 2px solid green; */
}


.wrong {
  color: black;
  background-color: red;
  border: 2px solid red;
}